$primary-color: #35bfae;
$hover-color: #2eab9c;
$grey-bg: #53585a;

// GLOBAL
body {
}
.clear {
  clear: both;
}

.con-full-width {
  width: 100%;
  max-width: none;
  padding: 0;
  .row {
    margin: 0;
  }
}

.dark-bg {
  background-color: $grey-bg;
}

.green-bg {
  background-color: $primary-color;
  * {
    color: #fff;
  }
}

.row-min-height {
  min-height: 300px;
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.btn {
  color: #fff;
  background-color: $primary-color;
  border-radius: 0;
  border: none;
  padding: 10px 25px;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .08em;
  width: 250px;
  text-align: center;
  display: block;
  margin: 40px auto 0;
}

.btn:hover {
  background-color: $hover-color;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

h1 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 2.4em;
  line-height: 1.4em;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
  position: relative;
  display: inline-block;
  padding: 0 0 12px;
  margin: 0 0 25px;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: #000;
}

h3 {
  font-size: .8em;
}

// HEADER STYLES
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(25, 28, 31);
  background-color: rgba(25, 28, 31, .8);
  z-index: 2;
  .navbar {
    margin: 0;
    background-color: transparent;
    border: none;
    .nav {
      float: right;
    }
    .navbar-brand {
      padding: 15px;
      img {
        width: 160px;
        height: 20px;
      }
    }
    li {
      > a {
        color: #fff;
        font-size: .85em;
      }
      > a:hover {
        color: $primary-color;
      }
    }
    li.active {
      > a {
        background-color: transparent;
        color: $primary-color;
      }
      > a:hover {
        background-color: transparent;
        color: $primary-color;
      }
      > a:focus {
        background-color: transparent;
        color: $primary-color;
      }
    }
  }
}

// FOOTER
.footer {
  background: #15181b;
  padding: 30px 0 40px;
  .col-logo {
    img {
      width: 30px;
      height: auto;
    }
  }
  ul.social {
    margin: 0;
    padding: 0;
    float: right;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 6px;
      a {
        img {

        }
      }
    }
  }
}

// PAGE STYLES
.page-content {
  z-index: 1;
  position: relative;
  .banner {
    background: transparent url('cover.jpg') no-repeat center center;
    min-height: 700px;
    background-size: cover;
    h1 {
      color: #fff;
      font-weight: 600;
      text-align: center;
      margin: 0;
      font-size: 2.4em;
      line-height: 1.4em;
    }
  }
  .con-bsu {
    .col-bg {
      background: transparent url('feat-img-boise-state.jpg') no-repeat center center;
    }
  }
  .con-rr {
    .col-bg {
      background: transparent url('feat-img-rush-river.jpg') no-repeat center center;
    }
  }
  .col-client {
    padding: 80px;
  }
  .client-wrapper {
    img {
      max-width: 270px;
    }
    p {
      font-size: .95em;
      font-weight: 300;
      line-height: 1.2em;
    }
  }
  .con-accordion {
    padding: 50px 0;
    h2 {
      margin: 0 0 45px;
    }
  }
  .panel-group .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel-default > .panel-heading {
    padding: 0;
    background-color: transparent;
    border: none;
    border-color: transparent;
    outline: none;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
  }
  .panel-title {
    a {
      display: block;
      padding: 17px 25px;
      color: #fff;
      text-transform: uppercase;
      font-size: .85em;
      letter-spacing: .03em;
      font-weight: 400;
    }
    a.collapsed {
      background: $primary-color url("accordion-open.png") no-repeat center right;
      background-position-x: 98%;
      background-size: 15px;
    }
    a {
      background: $primary-color url("accordion-close.png") no-repeat center right;
      background-position-x: 98%;
      background-size: 15px;
    }
  }
  .panel-body {
    background-color: $grey-bg;
    padding: 17px 25px;
    color: #fff;
    font-weight: 300;
    line-height: 1.5em;
  }
  .con-team {
    text-align: center;
    .load-more {
      margin: 50px auto;
    }
  }
  .row-employees img {
    display: none;
  }
  .row-employees img.noImg + .col-emp {
    background-image: url('placeholder.png') !important;
  }
  .col-emp {
    height:290px;
    background-size: cover !important;
    padding: 0;
    .emp-content-wrapper {
      display: table;
      vertical-align: middle;
      color: #fff;
      text-align: center;
      height:100%;
      width: 100%;
    }
    .emp-content-wrapper:hover {
      background-color: rgba(53, 191, 174, .8);
      cursor: pointer;
      cursor: hand;
    }
    .emp-content {
      display: none;
      .name {
        font-size: 1.6em;
        font-weight: 600;
      }
      .emp-position {
        font-size: .75em;
        text-transform: uppercase;
        letter-spacing: .03em;
      }
    }
    .emp-content-wrapper:hover .emp-content {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// columns of same height styles
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

@media(max-width: 991px) {
  .page-content {
    p {
      font-size: 1em;
    }
    h1 {
      font-size: 2em;
    }
    .banner {
      min-height: 500px;
      h1 {
        font-size: 2em;
      }
    }
    .col-client {
      padding: 40px;
    }
  }
}
@media(max-width: 767px) {
  .page-content {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: .9em;
    }
    p {
      font-size: .9em;
    }
    .banner {
      min-height: 350px;
      h1 {
        font-size: 1.5em;
      }
    }
    .col-bg {
      min-height: 200px;
    }
    .con-rr {
      border-top: 5px solid #fff;
    }
  }
}
@media(max-width: 500px) {
  .header .navbar .nav {
    float: left;
  }
  .page-content {
    h1 {
      padding: 0 15px;
      font-size: 1.3em;
      br {
        display: none;
      }
    }
    .row-min-height {
      min-height: auto;
      margin: 40px 0;
    }
    .con-bsu {
      .row {
        margin: 0;
      }
    }
    .con-rr {
      .row {
        margin: 0;
      }
    }
    .client-wrapper {
      p {
        font-size: .85em;
      }
      img {
        max-width:100%;
        width: 270px;
      }
    }
    .col-client {
      padding: 25px 20px 15px;
    }
    .banner {
      min-height: auto;
      padding: 100px 0 70px;
      h1 {
        padding: 0 15px;
        font-size: 1.3em;
        br {
          display: none;
        }
      }
    }
    .btn {
      margin: 20px auto 0;
    }
    .col-emp {
      height: 215px;
      .emp-content {
        .emp-position {
          font-size: .65em;
        }
        .name {
          font-size: 1.2em;
        }
      }
    }
    .panel-body {
      font-size: .9em;
    }
  }
}
